body{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12;
	margin: 24;
	text-align: left;
	size: 95%;
	background-color: rgb(179, 255, 226);
	margin: 0;
}

table{
	margin-left:auto;
	margin-right:auto;
	border: 3px solid black;
	border-spacing: 40px;
	display: block;
}

.ListElements{
	font-family: "Andale Mono", AndaleMono, monospace;
	font-size: 18;
}

#intr{
	color: rgb(50, 6, 91);
}

img.gameLogo{
	display: block;
	margin-left: 40%; 	
	margin-right: auto;
	margin-bottom:100%;
	margin-top:50%;
	border-radius: 20%;
	height: 400px;
	width: 480px;
}

.gameTitle{
	display: block;
	margin-left: 10%;
	margin-right: 0;
	margin-top: -17%;
	max-width: 100%;
	text-align:center;
	text-decoration: underline;
	color:rgb(170, 84, 255);
}

.gameDesc{
	display: block;
	margin-left: 20%;
	margin-top: 5%;
	margin-right: auto;
	max-width: 70%;
	text-align: center;
}

.navBar{
	background:rgb(255, 176, 225);
	overflow: hidden;
	width: 100%;
	height: 4.5%;
}

.navItems{
	float: right;
	margin-right: 2.5%;
	word-spacing: 60px;
	font-size: 15px;
}

.navTitle{
	margin-left: 2.5%;
	font-size: 30px;
}
