body {
	background-color: #dedede;
}
h1 {
	color: #9d8ccf;
}
h2{
	color: #6697b0;
}
p {
	color: #6697b0;
}
h3 {
  text-align: left;
  color: #e0607e;
}
u{
	color: #9d8ccf;
}
th{
	text-align: left;
}
